@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  @apply font-sans relative leading-6 m-0 bg-[#fbefe7];
}

.root {
  @apply inline;
}

html,
body,
#root {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}
